.Header {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 0.82);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    padding: 0.35rem;
    align-items: center;
    height: 4.5rem;
    justify-content: space-between;
    padding: 0 1.5rem;
    top: 0;
    /* position: sticky; */
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    /* position: relative; */

}

/* #header {
    position: sticky;
    top: 0;
} */

.Header h2 {
    color: royalblue;
    font-weight: 800;
}

.Header img {
    width: 3rem;

}

.Nigth_mod {
    width: 1.5rem;
    margin-right: 3px;
    cursor: pointer;
}

.Header nav ul {
    display: flex;
    list-style: none;

}
.Header .right-nav{
    display: none;
}

.Header nav ul li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: royalblue;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.35rem;
    padding: 5px;
}

.Header nav ul a {
    text-decoration: none;
}

.Header nav ul a li:hover {
    color: rgb(255, 25, 0);
    background-color: royalblue;

}

.Header nav ul a li:focus {
    color: rgb(113, 19, 8);
}

.Header nav {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.close-btn{
    display: none;
}
#option {
    width: 1.5rem;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:635px) {
    .Header img {
        width: 2.5rem;
    }

    .Header nav ul {
        display: none;
    }
    #option{
        display: inline;
    }

    .right-nav {
        display: flex;
        background-color: rgb(198, 198, 198);
        flex-direction: column;
        position: fixed;
        height: 42rem;
        right: 0;
        top: 5%;
        border-radius: .4rem;
        width: 6rem;
        padding: 0.5rem;
        justify-content: space-evenly;
    }

    #ul_right{
        display: none;
    }
    .close-btn {
        cursor: pointer;
        display: inline;

    }

    .right-nav ul {
        display: flex;
        height: 60%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .Header h2 {
        display: none;
    }

}
